<header id="site-header" class="site-header valign-center"> 
        <div class="intro">

            <h2>Ripply</h2>
            <p>Pay,pay,it forward</p>
            
            <a class="btn btn-white" data-scroll href="#">Donate Now</a>
        
        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About Us</h3>

                    <p>Quis id laboris duis quis sed esse do nostrud dolor nisi dolore magna deserunt ea dolore magna officia ad aute sunt mollit mollit ut nostrud aliquip. Minim nostrud incididunt cillum in esse magna ea duis veniam aliqua labore commodo ut adipisicing dolor aliqua in mollit cupidatat in cupidatat pariatur deserunt magna dolore proident velit.</p>

                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                    </figure>

                </div>

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">What is Our Goal?</h3>

                    <p>Nulla in duis ex sint est commodo laboris in nostrud occaecat in pariatur cillum consequat officia nisi nulla dolore non qui. Lorem ipsum eu anim laboris nisi officia quis amet dolor sit velit et enim laborum sint magna deserunt in nisi sed velit quis tempor. Amet eu et et magna minim amet commodo dolor in in dolore dolor et nulla elit esse est voluptate tempor commodo excepteur et sed ullamco nulla officia. Irure enim officia anim ut minim mollit commodo magna commodo dolor est dolor incididunt reprehenderit dolore id consectetur ea dolor cupidatat ut in reprehenderit qui ut aliqua in tempor enim laboris minim cupidatat in in sed est.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <i></i>
                    <h3>Pictures?</h3>   
                </div>
                <div class="col-sm-3">

                    <i></i>
                    <h3>Pictures?</h3>  
                </div>
                <div class="col-sm-3">
                    <i></i>
                    <h3>Pictures?</h3>  
                </div>
                <div class="col-sm-3">
                    <i></i>
                    <h3>Pictures?</h3>  
                </div>
            </div>
        </div>
    </section>

    <section id="Founders" class="section founders">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="section-title">Founders</h3>
                
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="Founders">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="">
                        </figure>

                        <h4>Don Prolad</h4>

                        <p>CTO of PIFs</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="Founders">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="">
                        </figure>

                        <h4>Alex Tan</h4>

                        <p>CUCK of PIFs</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="Founders">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-3.jpg">
                        </figure>

                        <h4>Sash</h4>

                        <p>CEO of Pifs</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="Founders">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="#">
                        </figure>

                        <h4>Yours truly</h4>

                        <p>COO of PIFs</p>

                        <ul class="social-block">
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
                
</section>
    <section id="contribution" class="section bg-image-2 contribution">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-uppercase mt0 font-400">Contribution</h3>
                    
                    <p>Ad non laborum ad sit consequat ut elit in id excepteur voluptate aliquip amet laboris do et voluptate fugiat aliquip ullamco. Lorem ipsum irure veniam fugiat non enim pariatur excepteur dolore do culpa dolore cillum quis enim in incididunt fugiat consequat dolore in enim duis ut nisi magna consectetur excepteur ut sed aliquip sit dolore ut occaecat culpa sed enim anim.</p>

                    <a class="btn btn-white" href="#">Submit</a>
                </div>
            </div>
        </div>
    </section>
    <section id="Questions" class="section Questions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Questions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="Questions-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Pariatur magna quis in ut ex mollit elit anim anim consectetur amet?</a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Hello
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="Questions-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Lorem ipsum aliqua ut dolore?</a>
                                </h4>
                            </div>

                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>
  
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="Questions-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Qui incididunt reprehenderit cillum est ut cupidatat tempor incididunt quis eiusmod dolor eiusmod duis ea nulla ut dolore?</a>
                                </h4>
                            </div>

                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="Questions-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Reprehenderit voluptate occaecat laboris consequat dolore elit in id veniam quis sint fugiat ut et duis aliquip?</a>
                                </h4>
                            </div>

                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="Questions-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Veniam do?</a>
                                </h4>
                            </div>

                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section id="photos" class="section photos">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Photos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="grid">
                        
                        <li class="grid-item grid-item-sm-6">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-1.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg">
                        </li>
                    
                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-5.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-6.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-7.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-8.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg">
                        </li>

                        <li class="grid-item grid-item-sm-3">
                            <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg">
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
    </section>

    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Our Loction</h3>
                    <address>
                        <p>INmYPaNTz<br> The Grand Tower<br>Entrance # 01, Forest #black, Street<br>Postal code: Only tower in town<br></p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.8513035162696!2d101.62779131475729!3d3.1339628384171534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4939007dcd87%3A0x1f08990385cee5b8!2sNEXT+Academy+%7C+The+Best+Coding+School!5e0!3m2!1sen!2smy!4v1510210140805" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                       <div id="Content-center">
                       <p class="tradeMark">© 2017 Pay It Forward by Yours-truly </p>
                       </div>
            </div>
        </div>
    </footer>

    <!-- script -->
      
    <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('2cma9n7w7bxu');
</script>
<!-- End of Async Drift Code -->

