<h1>Donations#new</h1>
<p>Find me in app/views/donations/new.html.erb</p>

<%= form_for @donation do |x| %>
	Donation amount (RM)<%= x.number_field :donation_amount, min: 1, value: "1", :required => 'required' %>
	<%= submit_tag("donate") %>
<% end %>